<div class="sidebar">
    <header>Social Media</header>
    <ul>
        <li><a href="https://www.linkedin.com/in/franciscoviola/" target="_blank"><i class="bi bi-linkedin"></i> Linkedin</a></li>
        <li><a href="https://theuselessweb.com/" target="_blank"><i class="bi bi-twitter"></i> Twitter</a></li>
        <li><a href="https://theuselessweb.com/" target="_blank"><i class="bi bi-facebook"></i> Facebook</a></li>
        <li><a href="https://theuselessweb.com/" target="_blank"><i class="bi bi-whatsapp"></i> Whatsapp</a></li>
    </ul>
</div>