<main class="dashboard">
    <div class="main-content">
        <h3 class="title">Hola, Francisco!</h3>
        <h4>Estado de tu cuenta</h4>
        <div class="cards">
            <mat-card>
                <div class="card-content">
                    <div class="card-header">
                        <span href="">{{cuentatitle}}</span>
                    </div>
                    <div class="card-subheader">
                        <span href="">128479281/5</span>
                    </div>
                    <div class="card-amount">
                        <span>$ 348.532,99</span>
                    </div>
                    <div class="card-amount">
                        <span>U$S 0,00</span>
                    </div>
                    <div class="card-footer">
                        <div class="movimientos"><i class="bi bi-cash-coin"></i> Ver movimientos</div>
                        <div class="cbualias"><i class="bi bi-person-vcard"></i> CBU / Alias</div>
                    </div>
                </div>
            </mat-card>
            <mat-card class="credito">
                <div class="card-content">
                    <div class="card-header">
                        <span href="">{{visatitle}}</span>
                    </div>
                    <div class="card-subheader">
                        <span href="">Cierra el 30/03/2023 | Vence el 10/04/2023</span>
                    </div>
                    <div class="card-amount">
                        <div class="card-amount-title">
                            <span>Ultimos consumos</span>
                        </div>
                        <span>$ 31.503,29</span>
                        <div class="card-amount-dolares">
                            <span>U$S 2,98</span>
                        </div>
                    </div>
                </div>
            </mat-card>
            <mat-card class="credito">
                <div class="card-content">
                    <div class="card-header">
                        <span href="">{{americantitle}}</span>
                    </div>
                    <div class="card-subheader">
                        <span href="">Cierra el 30/03/2023 | Vence el 10/04/2023</span>
                    </div>
                    <div class="card-amount">
                        <div class="card-amount-title">
                            <span>Ultimos consumos</span>
                        </div>
                        <span>$ 0,00</span>
                        <div class="card-amount-dolares">
                            <span>U$S 0,00</span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</main>